/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Montserrat:wght@400;500;600;700;800;900&family=Pacifico&family=Roboto:wght@400;500;700;900&display=swap');

/* General Styling */
section {
     padding: 5% 0 5% 0;
}

.container-fluid {
     padding: 0 12% 0 12%;
}

.login-text, .user-text, .menu-text, .cart-text {
     font-family: "Itim";
     font-weight: 800;
     text-align: center;
     padding-bottom: 5%;
}

/* Navbar */
.navbar {
     padding-top: 5%;
}

.navbar-brand {
     font-family: "Pacifico";
     font-size: 2.5rem;
}

.nav-item {
     font-family: "Itim";
     font-size: 1.5rem;
     font-weight: 500;
}

/* Title Page */
.slogan {
     font-family: "Montserrat";
     font-size: 3rem;
     font-weight: 900;
     line-height: 1.5;
}

.highlight {
     color: #f0a500;
     text-decoration: solid;
}

.order-button {
     margin-top: 10%;
     margin-right: 5%;
}

.about-button {
     margin-top: 10%;
}

.title-image {
     width: 100%;
     padding-top: 8%;
}

/* Login */
#login {
     background-color: #f6f5f5;
}

.form-padding {
     padding: 0 30% 0 30%;
}

form {
     font-family: "Roboto";
}

#password-info h6 {
     font-size: 15px;
     text-align: center;
     padding: 15px 0 8px 0;
 }

#password-info {
     position: absolute;
     width: 260px;
     background: #fefefe;
     border-radius: 5px;
     box-shadow: 0 1px 3px #ccc;
     border: 1px solid #ddd;
     display: none;
 }

 #password-info::before {
     content: "\25B2";
     position: absolute;
     top: -12px;
     right: 45%;
     font-size: 14px;
     line-height: 14px;
     color: #ddd;
     text-shadow: none;
     display: block;
 }

.valid {
     color: green;
 }

.invalid {
     color: red;
 }

/* Users */
#users {
     background-color: #f6f5f5;
     padding: 5% 0 5% 0;
}

/* Menu */
.meals {
     font-family: "Pacifico";
     font-weight: 400;
     font-size: 1.8rem;
     text-align: center;
     padding: 3% 0 5% 0;
}

.menu-image {
     width: 100%;
     padding-bottom: 10px;
}

.menu-price, .add-order {
     margin-bottom: 5%;
}

/* Cart */
#cart {
     background-color: #f6f5f5;
}

.cart-image {
     width: 50px
}

/* Footer */
.copyright {
     text-align: center;
     padding: 25px 0;
     background-color: #202020;
}

span {
     color: #aca8a8;
}

.foodfluent {
     font-family: "Pacifico";
     font-size: 1.5rem;
}

.copyright-text {
     font-family: "Montserrat";
     font-size: 1.2rem;
}

/* Our Food */
#ourfood {
     padding: 5% 0 5% 0;
}

.ourfood-title {
     font-family: "Pacifico";
     font-size: 4rem;
     text-align: center;
}

/* Styling for smaller screens */
@media (max-width: 920px) {
     /* Title Page */
     #home {
          text-align: center;
     }

     .slogan {
          font-size: 2rem;
     }

     .order-button {
          margin-right: 2%;
     }

     .title-image {
          width: 80%;
     }

     /* Login */
     .form-padding {
          padding: 0 12% 0 12%;
     }
}