/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Montserrat:wght@400;500;600;700;800;900&family=Pacifico&family=Roboto:wght@400;500;700;900&display=swap');

/* General Styling */
.container-fluid {
     padding: 0 12% 0 12%;
}

.login-text, .user-text, .menu-text {
     font-family: "Itim";
     text-align: center;
}

/* Navbar */
.navbar {
     padding-top: 5%;
}

.navbar-brand {
     font-family: "Pacifico";
     font-size: 2.5rem;
}

.nav-item {
     font-family: "Itim";
     font-size: 1.5rem;
     font-weight: 500;
}

/* Title Page */
#home {
     padding: 5% 0 5% 0;
}

.slogan {
     font-family: "Montserrat";
     font-size: 3rem;
     font-weight: 900;
     line-height: 1.5;
}

.highlight {
     color: #f0a500;
     text-decoration: solid;
}

.order-button {
     margin-top: 10%;
     margin-right: 5%;
}

.about-button {
     margin-top: 10%;
}

.title-image {
     width: 100%;
     padding-top: 8%;
}

/* Login */
#login {
     padding: 5% 0 5% 0;
     background-color: #f6f5f5;
}

.form-padding {
     padding: 0 30% 0 30%;
}

form {
     font-family: "Roboto";
}

h6 {
     padding-top: 3%;
}

.invalid {
     color:#ec3f41;
 }

 .valid {
     color:#3a7d34;
 }

/* Users */
#users {
     padding: 5% 0 5% 0;
}

/* Menu */
#menu {
     padding: 5% 0 5% 0;
     background-color: #f6f5f5;
}

/* Footer */
.copyright {
     text-align: center;
     padding: 25px 0;
     background-color: #202020;
}

span {
     color: #aca8a8;
}

.foodfluent {
     font-family: "Pacifico";
     font-size: 1.5rem;
}

.copyright-text {
     font-family: "Montserrat";
     font-size: 1rem;
}

/* Our Food */
#ourfood {
     padding: 5% 0 5% 0;
}

.ourfood-title {
     font-family: "Pacifico";
     font-size: 4rem;
     text-align: center;
}

/* Styling for smaller screens */
@media (max-width: 920px) {
     /* Title Page */
     #home {
          text-align: center;
     }

     .slogan {
          font-size: 2.2rem;
     }

     .order-button {
          margin-right: 2%;
     }

     .title-image {
          width: 80%;
     }
}